# DATABASE
MONGODB_URI=""
PORT=""

# AUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
JWT_SECRET=""
URL_BACKEND=""
URL_FRONTEND=""
COOKIE_DOMAIN=""

# EMAIL
SMTP_EMAIL_ADDRESS=""
SMTP_EMAIL_PASSWORD=""

# AI_CONFIG
OPENAI_API_KEY=""